<div class="m4">
  <div class="row">
 <div class="col" id="carta" *ngFor="let item of ubicacion_location">
   <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="https://i.pinimg.com/originals/ce/44/3a/ce443a0d9363aaa8158b959270e7b36a.jpg " width="100%" alt="Card image">
       <div class="card-body">
           <h1 class="card-title">{{item.name}}</h1>
           <br>
           <h3 class="card-text" >Episodios:  {{item.name}}</h3>
       </div>
     </div>
 </div>
</div>
</div>
