<tfg-navbar></tfg-navbar>
<body style="background-color: #f0fffd">
  <br />
  <div class="container">
    <div class="row">
      <h4 class="text-center">
        Si tienes alguna duda o pregunta escribenos a este correo
      </h4><br><br>
      <b><h6 class="text-center">alextoledanoperez@gmail.com</h6></b><br><br><br><br>
      <a [target]="'_blank'" href="https://www.google.com/intl/es/gmail/about/" class="btn btn-success text-center btn-lg" style="width:1520px;height:50px;">Contacta con Nosotros</a>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</body>
<body style="background-color: #04b9a6">
  <footer class="page-footer">
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright: PadelReserv
  </div>
</footer>
</body>
