<tfg-navbar></tfg-navbar>
<body style="background-color: #6ECDC3;">

<br>
  <b><h1 class="text-center" style="font-family: Impact;">P A D E L R E S E R V</h1></b>
  <b><h6 class="text-center"><i>La mejor web de reserva de pistas de padel <b>!</b></i></h6></b><br>



<div class="container">
  <div class="row">

    <div class="col-sm">

      <div class="col">
        <u><h4 class="text-uppercase"><b>Sobre Nosotros</b></h4></u>
        <br>
        <p>
            - PadelReserv nacio de la idea de un estudiante de Desarrollo de Aplicaciones Multiplataforma, el cual, es un apasionado por el padel y penso que no había muchas maneras de reservar en paginas pistas de padel por que lanzo esta web al mercado. En PadelReserv
            tenemos firmados convenios con 5 clubs de padel y con la tienda PadelNuestro para facilizar y agilizar los procesos de compra de productos y alquiler de pistas por horas. En esta pagina web intentamos que de una manera facil y sencilla
            puedas alquilar pistas de padel y comprar productos.
        </p>


        <div class="col-xs-6 col-sm-4 col-lg-4"></div>
        <img src="https://i.pinimg.com/564x/52/d5/ff/52d5ffb9dbc801c6961f61441cb3ad14.jpg" class="img-thumbnail card bg-black" alt="..." />
    </div>

    </div>
    <div class="col-sm">

      <div class="col">
        <h6 class="text-uppercase">Algunas pistas que puedes reservar</h6>

        <div class="card card bg-info text-white" style="width: 19rem">
            <img src="https://res.cloudinary.com/playtomic/image/upload/c_limit,w_1600/v1/pro/tenants/391288ff-24db-4038-822e-2a7afe4e18ca/dreamfitalcorcon_0001" class="card-img-top col" alt="..." />
            <div class="card-body">
                <p class="card-text">Dreamfit Padel Alcorcon</p>
            </div>
        </div>
        <br>
        <div class="card bg-info text-white" style="width: 19rem">
            <img src="https://www.padelvipexperience.com/img/cms/madrid/SERVICIOS/Carrusel-2-Foto-1-.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <p class="card-text">EuroIndoor</p>
            </div>
        </div>
    </div>

    </div>

    <div class="col-sm">

      <div class="col">
        <h6 class="text-uppercase">Algunos productos</h6>


            <div class="card bg-info text-white" style="width: 11rem">
                <img src="https://www.padelnuestro.com/images/cargador/productos/imagen-1-25657-da3cebb0-29637-NORMAL.jpg" class="card-img-top col" alt="..." />
                <div class="card-body">
                    <p class="card-text">ADIDAS METALBONE MASTER LTD 2022</p>
                </div>
            </div>
           <br>

            <div class="card bg-info text-white" style="width: 11rem">
                <img src="https://www.padelnuestro.com/images/cargador/productos/imagen-1-15969-a3ec25f9-15221-NORMAL.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <p class="card-text">HEXACORE GRIP BULLPADEL</p>
                </div>
            </div>

    </div>


    </div>
  </div>
</div>
<br>
<hr>
<h5 class="text-center"><b><i>VIDEOS DE LOS MEJORES PARTIDOS</i></b></h5>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/xBU0IjwS7fI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/qoTqEkBIrqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/dL9avRRtiog" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<br>
</body>

<tfg-footer></tfg-footer>
