<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
  <div class="container-fluid">
      <img src="./../../../assets/file/Padelreserv.png" alt="" style="width: 45px; height: 50px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample08">
      <ul class="navbar-nav">

        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/']">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><b><h1 class="text-center">Registrarse</h1></b><br>
  <b><h6 class="text-center">Regístrate para poder iniciar sesión</h6></b><br>

<form class="row" #formRegistro="ngForm">
    <label class="text-center"><b>Email</b></label>
    <input type="email" name="cajamail" #cajamail placeholder="ejemplo@gmail.com" class="form-control text-center border border-dark">
    <br/>
    <label class="text-center"><b>Contraseña</b></label>
    <input type="password" name="cajapassword" #cajapassword placeholder="Indroduce la contraseña" class="form-control text-center border border-dark" minlength="6" maxlength="20" pattern="[A-Za-z0-9]{6,20}">
    &nbsp;
    <button class="btn btn-success" style="width:1350px;height:120px;" (click)="registro()">
        Registrarse
    </button>
</form>
